* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Coneria Script';
	src:url(../fonts/ConeriaScript.ttf);
}
@font-face {
	font-family: 'aLittleSunshine';
	src:url(../fonts/aLittleSunshine.ttf);
}
body {
	font-size:14px;
	font-family: 'Times New Roman';
	font-weight:400;
	font-style:normal;
	color:#6B6B6B;
	top:0;
	left:0;
	overflow-y:hidden;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	color:#6B6B6B;
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a:hover {
	color:#000000;
}
h1 {
	position:relative;
	font-family:"Coneria Script";
	font-size:3em;
	margin:10px 0;
	margin-bottom:20px;
  font-weight:300;
  text-align:center;
}
h2 {
	font-size:2em;
	margin:0;
	font-weight:200;
}
section {
	/* Adds padding to top for navbar */
	padding:50px 0px;
	margin:0 0 30px 0 !important;
}
section#main-page {
	position:relative;
	height:100%;
	top:0;
	left:0;
	margin:0;
	padding:0;
}
section#main-page h1 {
	font-size:5em;
	margin:0;
	margin-bottom:5px;
	padding-top:0px;
}
/*section#main-page h1:after {
	content: '';
  position: absolute;
  border-width: 0 0 1px;
  border-style: solid;
  width: 100%;
  left:0%;
  bottom: 15px;
}*/
section#main-page h2 {
	font-style:italic;
	margin-top:-15px;
}
section#main-page #navbar {
	height:50px;
}
#navbar {
	position:relative;
	width:100%;
	background-color:rgba(255,255,255, 0.9);
	border-top:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	margin-top:10px;
	top:0;
	z-index:10;
	opacity:0;

	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
#navbar ul {
	list-style: none;
	margin:0 auto;
	padding:0;
	padding-top:10px;	
	height:100%;
	width:80%;
}
#navbar ul li {
	float:left;
	height:30px;
	width:25%;
	cursor:pointer;
	font-family:"Coneria Script";
	text-align:center;
	font-size:1em;
	font-weight:200;
	line-height:30px;
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#navbar ul li:hover {
	color:#000000;
}
#main-page .main-page-background {
	display:block;
	position:relative;
	height:80%;
	min-height:500px;
	background-image:url(../images/main-splash.jpg);
	background-attachment:fixed;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
	border-top:1px solid #6B6B6B;
	border-bottom:1px solid #6B6B6B;
	-moz-box-shadow: 0 0 10px #E5E5E5;
	-webkit-box-shadow: 0 0 10px #E5E5E5;
	box-shadow: 0 0 10px #E5E5E5;
}
.main-page-filter {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255, 0.1);
}
.main-page-text {
	position:absolute; 
	width:100%; 
	height:auto; 
	padding:20px 0;
	bottom:40px; 
	color:#363636;
	background-color:rgba(255,255,255, 0.5); 
	padding:0.5em auto;
	border-top:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	opacity:0;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;

	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
.main-page-text img {
	height:30px;
	display:inline-block;
}

/* Our Story */
#our-story {
	height:auto !important;
	background-color:#FFF0FA;
	min-height:0;
}
#our-story h1 {
	/*color:#FFF0AA;*/
	color:#E47297;
	text-align:center;
}
#our-story h2 {
	text-align:center; 
	font-style:italic;
	color:#FF7FA9;
	margin-bottom:10px;
}
#our-story h3 {
	position:absolute; 
	color:#db0d28; 
	font-family:'aLittleSunshine', 'Times New Roman';
	font-weight:700; 
	font-style:italic;
	font-size:3em;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#our-story p {
	font-size:1.17em;
	font-style:italic;
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;

}
#our-story .our-story-item {
	position:relative;
	width:550px; 
	margin: 0 auto; 
	margin-top:50px; 
	text-align:center;
	opacity:0;
}
#our-story .our-story-img {
	position: relative;
	margin: 0 auto;
	margin-top:1em;
	background-color: #FFF;
	border: 1px solid #EFEFEF;
	padding: 10px;
	-moz-box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}
#our-story #startsWithCoffee {
	top:50px; 
	right:-303px; 
	width:250px;	
}
#our-story #yupThatsJeff {
	top:172px; 
	left:-198px; 
	width:250px;
}
#our-story img.story-arrow {
	position:absolute; 
	width:200px; 
	z-index:10;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#our-story #curved-arrow-down-left {
	top:75px;
	right:-50px;
	width:200px;
}
#our-story #curved-arrow-down-right {
	top: 203px; 
	left: -55px; 
}
#our-story #circle-jeff {
	position:absolute; 
	width:70px; 
	top:260px; 
	left:164px; 
	z-index:10;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#spinposal-collage {
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
/* Photo slider CSS */
#photos {
	background-color:#EFFFFF;
}
#photos h1 {
	color:#00B1B0;
}
.jcarousel-wrapper {
	position:relative;
	margin:0 auto;
	height:580px;
	width:395px;
  background-color:#FFF;
  border:1px solid #EFEFEF;
  padding:10px;
  -moz-box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}
.jcarousel-wrapper .jcarousel {
  position: absolute;
  overflow: hidden;
  height:560px;
  width:373px;
}
.jcarousel-wrapper .jcarousel ul {
  position: relative;
  overflow:hidden;
	width:2000em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel-wrapper .jcarousel ul li {
	position:relative;
	float: left;
	height:560px;
	width:373px;
	background-repeat:no-repeat;
	background-size:cover;
}
.jcarousel-wrapper .jcarousel #slider1 {
	background-image:url(../images/slider1.jpg);
}
.jcarousel-wrapper .jcarousel #slider2 {
	background-image:url(../images/slider2.jpg);
}
.jcarousel-wrapper .jcarousel #slider3 {
	background-image:url(../images/slider3.jpg);
}
.jcarousel-wrapper .jcarousel #slider4 {
	background-image:url(../images/slider4.jpg);
}
.jcarousel-wrapper .jcarousel #slider5 {
	background-image:url(../images/slider5.jpg);
}
.jcarousel-wrapper .jcarousel #slider6 {
	background-image:url(../images/slider6.jpg);
}
.jcarousel-wrapper .jcarousel #slider7 {
	background-image:url(../images/slider7.jpg);
}
.jcarousel-wrapper .jcarousel #slider8 {
	background-image:url(../images/slider8.jpg);
}
.jcarousel-wrapper .jcarousel #slider9 {
	background-image:url(../images/slider9.jpg);
}
.jcarousel-wrapper .jcarousel #slider10 {
	background-image:url(../images/slider10.jpg);
}
.jcarousel-wrapper .jcarousel #slider11 {
	background-image:url(../images/slider11.jpg);
}
.jcarousel-wrapper .jcarousel #slider12 {
	background-image:url(../images/slider12.jpg);
	background-size:cover;
	height:280px;
	margin-top:140px;
}
.jcarousel-wrapper .jcarousel #slider13 {
	background-image:url(../images/slider13.jpg);
	background-size:cover;
	height:280px;
	margin-top:140px;
}
.jcarousel-wrapper .jcarousel #slider14 {
	background-image:url(../images/slider14.jpg);
	background-size:cover;
	height:280px;
	margin-top:140px;
}
.jcarousel-wrapper .slider-arrow {
	position:absolute;
	height:50px;
	width:25px;
	cursor:pointer;
	background-color:#FFF;
	background-repeat:no-repeat;
}
.jcarousel-wrapper #left-slider-arrow {
	top:50%;
	left:-60px;
	margin-top:-25px;
	background-image:url(../images/icon-arrow-left.png);
	background-color:transparent;
}
.jcarousel-wrapper #right-slider-arrow {
	top:50%;
	right:-60px;
	margin-top:-25px;
	background-image:url(../images/icon-arrow-right.png);
	background-color:transparent;
}
.jcarousel-pagination {
	position:absolute;
	width:322px;
	bottom:20px;
	left:50%;
	margin-left:-156px;
}
.jcarousel-pagination a {
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	line-height: 11px;
	height:18px;
	width: 18px;
	background: #fff;
	color: #000000;
	border-radius: 18px;
	padding: 3px;
	text-align: center;
	margin-right: 5px;
	opacity: .75;
	font-style:normal;
}
.jcarousel-pagination a.active {
	background:#00B1B0;
}

/* Wedding Details */
#wedding-details {
	/*background-color:rgba(42,191,255, 0.3);*/
	/*background-color:#D9F2FD;*/
	background-color:#FFFFEC;
}

#wedding-details h1 {
	/*color:#4DE0FF;*/
	color:#FFC11F;
}
#wedding-details .grid-6 {
	margin-left:8%; 
	margin-top:50px;
	height:400px;
	padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow(0 1px 3px rgba(0,0,0,.1));
}
#wedding-details .grid-5 {
	margin-top:50px;
	padding:0 30px;
	height:400px;
	overflow:hidden;
}
#wedding-details .grid-5 h2 {
	text-align:left;
	font-style:normal;
	margin:0;
	padding:0;
	font-size:2em;
	font-weight:100;
	color:#FFC11F;
	cursor:pointer;
}
#wedding-details .grid-5 h2.focus {
	color:#000;
}
#wedding-details .grid-5 h3 {
	font-style:italic;
	font-weight:100;
	margin:0;
	margin-bottom:28px;
}
#wedding-details #map-canvas {
	height:100%;
	width:100%;
}
/*#butwaittheresmore {
	text-decoration:none; 
	margin:30px;
}*/
/*#butwaittheresmore:after {
	border:none;
}*/
/*#wedding-details nav {
	width:100%;
}
#wedding-details .info-nav {
	height:50px;
	width:60%;
	min-width:553px;
	display:block;
	margin:0 auto;
	padding:0;
	list-style:none;
}*/
/*#wedding-details .info-nav li {*/
#wedding-details .info-title {
	position:relative;
	height:65px;
	width:80%;
	min-width:105px;
	line-height:65px;
	text-align:center;
	background-color:#FFC11F;
	border:1px solid #FFC11F;
	cursor:pointer;
	margin:0 auto;
	margin-top:50px;
	color:#FFFFFF;
	font-size:32px;
	font-style:italic;
  -webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}
/*#wedding-details .info-nav li.active {
	background-color:#FFC11F;
	color:#FFFFFF;
	bottom-border:1px solid #FFFFFF;
}*/
#wedding-details .more-info-content{
	position:relative;
	height:auto;
	width:80%;
	padding:50px;
	margin:0 auto;
	margin-top:-1px;
	border:1px solid #FFC11F;
	color:#6B6B6B;
	background-color:#FFFFFF;
}
#wedding-details .more-info-content .content-item {
	font-size:1.2em;
}
#wedding-details .more-info-content .hotel-row { 
	display:table;
	width:100%;
	height:auto;
	border:1px solid #FFC11F;
	margin-bottom:50px;
	/*background-color:#FFFFFF;*/
}
#wedding-details .more-info-content .hotel-info {
	display:table-row;
	float:left;
	padding:20px;
	width:50%;
	word-wrap:break-word;
}
/*#wedding-details .more-info-content .hotel-info:first-child {
	border-right:1px solid #FFC11F;
}*/
#wedding-details .more-info-content .hotel-info h3 {
	color:#1F1F1F;
}
.bolditalicize {
	font-style:italic;
	font-weight:700;
	color:#1F1F1F;
}
.bold {
	font-weight:700;
}
#content2, #content4, #content5 {
	text-align:center;
}
#content2 h3, #content3 h3, #content4 h3, #content5 h3 {
	text-align:center;
	font-size:2em;
	font-style:italic;
	margin-top:0px;
}

#rsvp-gifts {
	/*background-color:#FFFFE6;*/
	padding:0;
}
#rsvp-gifts h1 {
	color:#3AE0FF;
}
#rsvp-gifts h2 {
	color:#5DE0FF;
}
#rsvp-gifts .rsvp-information {
	width:100%; 
	min-width:500px; 
	margin:0 auto; 
	margin-top:30px;
	text-align:center;
}
#rsvp-gifts .rsvp-information p {
	font-size:1.2em;
	color:#454545;
	margin-top:30px;
}
#rsvp-gifts .rsvp-information p .bolditalicize {
	color:#454545;
}
#rsvp-gifts .hudsons-bay-logo {
	width:450px;
	height:65px;
	margin:30px auto;
	border:1px solid #B3ABA8;
	background-color:#FFFFF8;
	padding:20px 35px;
	cursor:pointer;
}
#rsvp, #gifts {
	height:auto;
	padding:30px 0px;
}
#rsvp {
	background-color:#F1FBFF;
}
#gifts {
	background-color:#FFEFEF;
	margin-top:30px;
}
#gifts h1 {
	color:#ED6C17;
}
#gifts h2 {
	color:#F5890C;
}
#last-image {
	width:420px;
	height:553px;
	margin:0 auto;
	padding:10px;
	border:1px solid #6B6B6B;
}
#last-image img {
	border:1px solid #6B6B6B;
}
#footer #made-by {
	position:absolute;
	bottom:0px;
	left:50%;
	width:400px;
	margin-left:-200px;
	text-align:center;
	font-family:'Coneria Script';
}