* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'CAC Champagne';
	src:url(../fonts/cac_champagne.ttf);
}
@font-face {
	font-family: 'Coneria Script';
	src:url(../fonts/ConeriaScript.ttf);
}
@font-face {
	font-family: 'Linux Biolinum';
	/*src:url(../fonts/LinBiolinum_aSI.ttf);*/
}
body {
	font-size:14px;
	font-family: Linux Biolinum;
	font-weight:400;
	font-style:italic;
	top:0;
	left:0;
}
h1 {
	position:relative;
	font-family:"Coneria Script";
	font-size:4em;
	margin:10px 0;
	margin-bottom:20px;
  font-weight:300;
  text-align:center;
	padding-top:50px;
}
section#main-page h1 {
	font-size:5em;
	margin:0;
	padding-top:0px;
}
h2 {
	font-size:2em;
	margin:0;
	font-weight:200;
}
section#main-page {
	position:relative;
	height:100%;
	top:0;
	left:0;
}
section#main-page #navbar {
	height:50px;
}
#navbar ul {
	list-style: none;
	margin:0 auto;
	padding:0;
	padding-top:20px;	
	height:100%;
	width:80%;
}
#navbar ul li {
	float:left;
	height:30px;
	width:25%;
	cursor:pointer;
	font-family:"Coneria Script";
	text-align:center;
	font-size:1em;
	font-weight:200;
	line-height:30px;
}
#navbar ul li:hover {
	color:#E6E6E6;
}
#main-page .main-page-background {
	display:block;
	position:relative;
	height:70%;
	min-height:500px;
	background-image:url(../images/main-splash.jpg);
	background-attachment:fixed;
	background-position:top center;
	background-repeat:no-repeat;
	background-size:cover;
}
.main-page-filter {
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color:rgba(255,255,255, 0.6);
}
.main-page-text {
	position:absolute; 
	width:100%; 
	height:auto; 
	padding:20px;
	bottom:40px; 
	color:#363636;
	background-color:rgba(255,255,255, 0.3); 
	padding:0.5em auto;
	opacity:0;
}

/* Our Story */
#our-story {
	height:2000px !important;
	background-color:#E99B9F;
}
#our-story h1 {
	color:#FFF0AA;
	text-align:center;
}

/* Photo slider CSS */
#photos h1 {
	color:#2FA7FC;
}
.jcarousel-wrapper {
	position:relative;
	margin:0 auto;
	height:620px;
	width:420px;
  border:1px solid #EFEFEF;
  padding:10px;
  -moz-box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}
.jcarousel-wrapper .jcarousel {
  position: absolute;
  overflow: hidden;
  height:600px;
  width:400px;
}
.jcarousel-wrapper .jcarousel ul {
  position: relative;
  overflow:hidden;
	width:2000em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel-wrapper .jcarousel ul li {
	position:relative;
	float: left;
	height:600px;
	width:400px;
	background-repeat:no-repeat;
	background-size:cover;
}
.jcarousel-wrapper .jcarousel #slider1 {
	background-image:url(../images/slider1.jpg);
}
.jcarousel-wrapper .jcarousel #slider2 {
	background-image:url(../images/slider2.jpg);
}
.jcarousel-wrapper .jcarousel #slider3 {
	background-image:url(../images/slider3.jpg);
}
.jcarousel-wrapper .jcarousel #slider4 {
	background-image:url(../images/slider4.jpg);
}
.jcarousel-wrapper .jcarousel #slider5 {
	background-image:url(../images/slider5.jpg);
}
.jcarousel-wrapper .jcarousel #slider6 {
	background-image:url(../images/slider6.jpg);
}
.jcarousel-wrapper .jcarousel #slider7 {
	background-image:url(../images/slider7.jpg);
}
.jcarousel-wrapper .jcarousel #slider8 {
	background-image:url(../images/slider8.jpg);
}
.jcarousel-wrapper .jcarousel #slider9 {
	background-image:url(../images/slider9.jpg);
}
.jcarousel-wrapper .jcarousel #slider10 {
	background-image:url(../images/slider10.jpg);
}
.jcarousel-wrapper .jcarousel #slider11 {
	background-image:url(../images/slider11.jpg);
}
.jcarousel-wrapper .jcarousel #slider12 {
	background-image:url(../images/slider12.jpg);
}
.jcarousel-wrapper .slider-arrow {
	position:absolute;
	height:50px;
	width:25px;
	cursor:pointer;
	background-color:#FFF;
	background-repeat:no-repeat;
}
.jcarousel-wrapper #left-slider-arrow {
	top:50%;
	left:-60px;
	margin-top:-25px;
	background-image:url(../images/icon-arrow-left.png);
}
.jcarousel-wrapper #right-slider-arrow {
	top:50%;
	right:-60px;
	margin-top:-25px;
	background-image:url(../images/icon-arrow-right.png);
}
.jcarousel-pagination {
	position:absolute;
	width:276px;
	bottom:20px;
	left:50%;
	margin-left:-133px;
}
.jcarousel-pagination a {
	text-decoration: none;
	display: inline-block;
	font-size: 11px;
	line-height: 11px;
	height:18px;
	width: 18px;
	background: #fff;
	color: #000000;
	border-radius: 18px;
	padding: 3px;
	text-align: center;
	margin-right: 5px;
	opacity: .75;
	font-style:normal;
}
.jcarousel-pagination a.active {
	background:#2FA7FC;
}

/* Wedding Details */
#wedding-details {
	background-color:#2FA7FC;
}

#wedding-details h1 {
	color:#FFFFFF;
}